/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/public/dim/images/abouts/
/public/dim/images/intros/
/public/dim/images/works/
/public/dim/images/summernote/
/.idea/
/public/dim/images/temp-files/
